- truncated_url = BookmarkCollector.bookmark_url_trimmer(entry_url)
a href="http://b.hatena.ne.jp/entry/#{truncated_url}" target="_blank"
  img.bookmark-count src="http://b.st-hatena.com/entry/image/#{truncated_url}" /
