$navbar-inverse-bg: #E46557;
$navbar-inverse-link-color: #FCFCFC;
$brand-primary: #e45541;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
body {
  background-image: image-url('nice_snow_@2X.png')
}
.col-main {
  background-color: #FCFCFC;
}