.how-to-use
  margin-top: 30px
.url-form
  margin-top: 10px
.form-inline .form-control
  &.url-input
    width: 300px
.centered
  text-align: center
.righted
  text-align: right
.no-wrap
  white-space: nowrap
.calendar-title
  font-size: 20px